bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
node_modules/
/Messaginator.Sender/appsettings.Development.json
/Messaginator.Sender/Client/build
/Messaginator.Receiver/appsettings.Development.json
